@model RepairHub.Domain.Dtos.RoleDto
@{
    ViewData["Title"] = "Удаление";
}
<a asp-action="Index" class="btn btn-primary col-auto py-2">Вернуться к списку</a>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
