@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-danger">Ошибка</h1>
        <h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <a href="/" class="btn btn-primary">Вернуться назад</a>
    </div>
</div>